[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Jerold Leslie (jeroldleslie)
[access "refs/for/refs/*"]
	read = group user/Peter Jerold Leslie (jeroldleslie)
	push = group user/Peter Jerold Leslie (jeroldleslie)
	label-Code-Review = -2..+2 group user/Peter Jerold Leslie (jeroldleslie)
	label-Verified = -1..+1 group user/Peter Jerold Leslie (jeroldleslie)
	rebase = group user/Peter Jerold Leslie (jeroldleslie)
	removeReviewer = group user/Peter Jerold Leslie (jeroldleslie)
	submit = group user/Peter Jerold Leslie (jeroldleslie)
[access "refs/heads/*"]
	read = group user/Peter Jerold Leslie (jeroldleslie)
	create = group user/Peter Jerold Leslie (jeroldleslie)
	push = +force group user/Peter Jerold Leslie (jeroldleslie)
	pushMerge = group user/Peter Jerold Leslie (jeroldleslie)
[access "refs/tags/*"]
	push = +force group user/Peter Jerold Leslie (jeroldleslie)
	pushTag = group user/Peter Jerold Leslie (jeroldleslie)
	pushSignedTag = group user/Peter Jerold Leslie (jeroldleslie)
